.currenciesSection {
    width: 100%;
    margin: auto;
    padding: 0 30px;
    padding-top: 20px;
    max-width: 1366px;
}

.sectionTitle{
    color: white;
    font-size: 2em;
    text-transform: uppercase;
    margin-bottom: 20px;
    font-family: "Poppins", sans-serif;
}