table{
    width: 700px;
    max-width: 100%;
    margin-bottom: 20px;
    border-collapse: collapse;
}
thead td{
    font-size: .8em;
    text-transform: uppercase;
}
td{
    padding: 10px;
    color: white;
    font-size: .6em;
}

.coinTd{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;

    gap: 10px;
    text-wrap: nowrap;
    min-width: fit-content;
}
.numTd{
    text-align: right;
}

.negValue{
    color: #ff0050;
}
.posValue{
    color: #a6ff00;
}

.coinImage {
    width: 30px;
    height: 30px;
}