.tableContainer{
    overflow: hidden;
    margin-bottom: 20px;
    border-radius: 25px;
}

table{
    border-collapse: collapse;
    width: calc(1366px - 60px);
    font-family: 'Fira Mono', sans-serif;
}
thead tr{
    background-image: linear-gradient(to right,
    rgb(255, 176, 0),
    rgb(230, 40, 113),
    rgb(157, 40, 136));
}
thead td{
    font-size: 1em;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
}
td{
    padding: 25px 20px;
    color: white;
    font-size: 1em;
}
tbody > tr:not(:last-child) {
    border-bottom: 1px solid transparent;
    background: linear-gradient(black, black) padding-box,
    linear-gradient(to right,
    rgb(255, 176, 0),
    rgb(230, 40, 113),
    rgb(157, 40, 136)) border-box;
}

.coinTd{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;

    gap: 10px;
    text-wrap: nowrap;
    min-width: fit-content;
}
.numTd{
    text-align: right;
}

.negValue{
    color: #ff0050;
}
.posValue{
    color: #a6ff00;
}

.coinImage {
    width: 30px;
    height: 30px;
}