.heroSection{
    position: relative;

    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

    padding: 0 30px;
    min-height: 100vh;
}
.heroPicture{
    width: 100%;
    max-width: 450px;
}

.heroSection aside{
    max-width: 100%;
}
.heroSection aside > h1{
    transition: all .25s;
     
    color: white;
    font-size: 2em;
    text-align: right;
    font-weight: 500;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
}
.heroSection aside > h1 span{
    transition: all .25s;

    font-size: 48px;
    background-clip: text;
    font-weight: 600;
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(to right, 
    rgb(255, 176, 0),
    rgb(230, 30, 113),
    rgb(157, 40, 136));
}

.rightsText {
    position: absolute;
    bottom: 10px;

    font-size: .8em;
    color: rgba(255, 255, 255, 0.3);
    font-family: 'Poppins', sans-serif;
}

@media screen and (max-width: 1000px) {
    .heroSection{
        padding: 30px;
        justify-content: center;
        flex-direction: column-reverse;
        min-height: calc(100vh - 100px);
    }

    .heroSection aside > h1{
        text-align: center;
    }
}
@media screen and (max-width: 599px) {
    .heroSection aside > h1{
        font-size: 1.5em;
    }
    .heroSection aside > h1 span{
        font-size: 40px;
    }
}
@media screen and (max-width: 469px) {
    .heroSection aside > h1{
        font-size: 1.5em;
    }
    .heroSection aside > h1 span{
        font-size: 32px;
    }
}
@media screen and (max-width: 384px) {
    .heroSection aside > h1{
        font-size: 1.5em;
    }
    .heroSection aside > h1 span{
        font-size: 24px;
    }
}