* {
  margin: 0;
  padding: 0;
  user-select: none;
  box-sizing: border-box;
}

body, html {
  width: 100%;
  height: 100vh;
}

body::-webkit-scrollbar {
  width: 5px;
  background-color: white;
}
body::-webkit-scrollbar-thumb {
  border-radius: 25px;
  background-color: black;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
