:root {
  --primary-color: #4d3d87;
  --crown-color: #FFE7A0;
}

* {
  margin: 0;
  padding: 0;
  user-select: none;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
  position: relative;

  display: flex;
  flex-direction: column;

  width: 100%;
  min-height: 100vh;
  padding: 15px 20px;
  overflow-x: hidden;
  background-color: #f5f5f5;
}

.game-details-container {
  display: flex;
  align-items: center;
  flex-direction: column;

  gap: 10px;
  margin: auto;
  margin-top: 0;
  width: fit-content;
  margin-bottom: 30px;
}
.game-details-container__round-headline-text {
  color: var(--primary-color);
}
.game-details-container__round-subheadline-text {
  color: #636363;
  font-weight: 500;
  font-size: 1em;
}
.game-details-container__player-on-play-text {
  font-weight: 500;
  font-size: 1.25em;
}

main {
  width: 100%;
  margin: auto;
  max-width: 1115px;
  min-height: fit-content;
}

.pontuations-container {
  display: flex;
  justify-content: space-around;
}
.pontuations-container__player-pontuation {
  position: relative;

  font-weight: 500;
  font-size: 1.25em;
  padding: 5px 10px;
  text-align: center;
  border-radius: 10px;
  background-color: white;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.15);
}
@keyframes crown-floating-animation {
  0% {
    top: -25px;
  }
  100% {
    top: -32.5px;
  }
}
.pontuations-container__player-pontuation > img {
  position: absolute;
  top: -25px;
  right: -17.5px;

  display: none;

  width: 100%;
  max-width: 30px;
  transform: rotateZ(30deg);
  animation: crown-floating-animation 1s linear alternate infinite;
}

.pontuations-container__player-pontuation.crown {
  background-color: var(--crown-color);
}
.pontuations-container__player-pontuation.crown > img {
  display: block;
}

.game-target-text-container {
  display: flex;
  align-items: center;
  flex-direction: column;

  gap: 15px;
  width: 100%;
  margin: auto;
  max-width: 350px;
  margin-top: 50px;
  text-align: justify;
  margin-bottom: 50px;
}
.game-target-text-container__target-text {
  padding: 17.5px;
  font-weight: 500;
  font-size: 1.25em;
  border-radius: 10px;
  background-color: white;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.15);
}
.game-target-text-container__tip-text {
  color: #636363;
  font-weight: 500;
  text-align: center;
}

.check-result-button {
  transition: all 0.25s;

  display: flex;
  align-items: center;
  justify-content: center;

  border: 0;
  margin: auto;
  color: white;
  font-weight: 500;
  font-size: 1.25em;
  border-radius: 10px;
  padding: 7.5px 10px;
  background-color: var(--primary-color);
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.15);
}
@keyframes button_pop_animation {
  0% {
    transform: scale(100%, 100%);
  }
  25% {
    transform: scale(90%, 90%);
  }
  75% {
    transform: scale(115%, 115%);
  }
  100% {
    transform: scale(110%, 110%);
  }
}
.check-result-button:hover {
  cursor: pointer;
  transform: scale(110%, 110%);
  animation: button_pop_animation 0.25s linear normal;
}
.check-result-button:active {
  transform: scale(90%, 90%);
}

.check-result-button:disabled {
  color: #636363;
  background-color: #cfcfcf;
}
.check-result-button:disabled:hover,
.check-result-button:disabled:active {
  animation: none;
  cursor: not-allowed;
  transform: scale(100%, 100%);
}

.blob-picture {
  position: fixed;

  width: 100%;
  z-index: -1;
  opacity: 7.5%;
  max-width: 500px;
}

.blob-picture.bl {
  left: -150px;
  bottom: -250px;
}
.blob-picture.tr {
  top: -200px;
  right: -150px;
}
