.full-word {
  min-width: fit-content;
  max-width: fit-content;
}
@font-face {
  font-family: RobotoMono;
  src: url("/public/RobotoMono-VariableFont_wght.ttf");
}
.editable-char {
  transition: all 0.25s;

  position: relative;
  font-family: RobotoMono;
}
.editable-char:not(.off):hover {
  cursor: pointer;
  padding: 0px 5px;
}
.editable-char:not(.off):hover,
.editing-char:not(.off) {
  font-size: 1.25em;
}
.editable-char:not(.off):active {
  font-size: 1.1em;
}

.editing-char:not(.off) {
  max-width: 13px;
  color: var(--primary-color);
}

.editable-char__edit-container {
  transition: all 0.5s;

  position: absolute;
  top: 25%;
  left: 50%;
  transform: translateX(-50%) scale(1%, 1%);

  opacity: 0;
  padding: 5px;
  color: black;
  font-size: 0.65em;
  font-weight: 500;
  border-radius: 10px;
  pointer-events: none;
  min-width: max-content;
  background-color: white;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.15);
}

.editable-char__edit-container:hover {
  cursor: default;
}
.editing-char:not(.off) .editable-char__edit-container,
.full-word.error-word
  .editable-char.off.error-char
  .editable-char__edit-container {
  top: -50px;
  transform: translateX(-50%) scale(100%, 100%);

  opacity: 1;
  pointer-events: all;
}

.editable-char__edit-container__index {
  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translate(-50%, 50%) rotateZ(45deg);

  width: 10px;
  height: 10px;
  background-color: white;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);
}

.editable-char__edit-container__buttons {
  transition: all 0.25s;

  border: 0;
  width: 36px;
  outline: none;
  color: white;
  font-weight: 700;
  font-size: 1.25em;
  border-radius: 10px;
  background-color: var(--primary-color);
  border: 1px solid transparent;
}
.editable-char__edit-container__buttons:not(:first-of-type):not(:last-of-type) {
  margin: 5px;
}
.editable-char__edit-container__buttons:hover {
  cursor: pointer;
  opacity: 75%;
  transform: scale(105%, 105%);
}

.editable-char__edit-container__buttons:active {
  opacity: 1;
  transform: scale(95%, 95%);
}

.editable-char__edit-container__paragraph {
  font-weight: 700;
  font-size: 1.25em;
  margin-bottom: 5px;
}

.correct-word {
  color: yellowgreen;
}
.error-word {
  color: #FF0050;
}
