footer{
    color: white;
    background-color: black;
}
.footer__main{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;

    padding: 15px 30px;
}
.footer__main > section{
    width: 320px;
    max-width: 320px;
    margin-bottom: 20px;
}
.footer__main__id__logo{
    width: 30px;
}
.footer__main__id__slogan{
    font-size: 1em;
    font-weight: 300;
}
.footer__main__socials h1{
    margin-bottom: 10px;
    text-transform: uppercase;
}
.footer__main__socials a{
    color: white;
    text-decoration: none;
}
.footer__main__socials a > ion-icon{
    width: 30px;
    height: 30px;
    color: #4D3D87;
}
.footer__main__links{
    display: flex;
    flex-direction: column;
}
.footer__main__links h1{
    text-transform: uppercase;
    margin-bottom: 10px;
}
.footer__main__links a{
    color: #4D3D87;
    text-decoration: none;
    padding: 5px 0;
    border-bottom: 1px solid white;
}
.footer__rights{
    text-align: center;
    color: white;
    padding: 10px 0;
    border-top: 1px solid white;
}