.hero-section{
    position: relative;

    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    width: 100%;
    min-height: 100vh;
    padding: 15px 30px;
    overflow: hidden;
}

.hero-section__classy-logo{
    transition: all .1s;
    position: absolute;
    top: 15px;
    left: 30px;
    
    width: 50px;
    height: 50px;
}
.hero-section__classy-logo > img{
    width: 100%;
}
.hero-section__classy-logo:hover{
    transform: scale(110%, 110%);
}
.hero-section__sidebar-button{
    position: absolute;
    top: 15px;
    right: 30px;

    width: 30px;
    height: 30px;
    padding: 5px;
    color: white;
    border-radius: 100%;
    background-color: #4D3D87;
}

.hero-section__hero-picture{
    position: absolute;
    transform: translateX(50%);
    bottom: 0px;
    right: 50%;

    width: 100%;
    max-width: 550px;
}
.hero-section h1,
.hero-section p{
    max-width: 320px;
}
.hero-section h1{
    color: black;
    font-size: 2.2em;
}
.hero-section h1 > span{
    color: #4D3D87;
}
.hero-section p{
    text-align: justify;
}
.hero-section__headline,
.hero-section__subheadline{
    margin-bottom: 20px;
}

.hero-section__cabutton{
    display: flex;
    align-items: center;
    justify-content: center;
    
    width: 50%;
    padding: 5px 0;
    border-radius: 10px;
    background-color: #4D3D87;

    color: white;
    font-size: 1.5em;
    font-weight: 600;
    text-decoration: none;
}

/*ABOUT*/
.about-section{
    position: relative;

    width: 100%;
    min-height: 100vh;
    overflow-x: hidden;
    border-top: 2px solid #4D3D87;
}
.about-section__slide-button{
    position: absolute;
    transform: translateY(50%);
    bottom: 50%;

    width: 30px;
    height: 30px;
    padding: 5px;
    color: #4D3D87;
    border-radius: 100%;
    background-color: white;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.25);
}
.about-section__left-slide-button{
    left: 30px;
}
.about-section__right-slide-button{
    right: 30px;
}
.about-section__sections-index{
    position: absolute;
    transform: translateX(-50%);
    bottom: 15px;
    left: 50%;

    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
}
.about-section__sections-index__index{
    color: #4d3d8750;
    margin: 5px;
}
.about-section__slide{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
}
.about-section__slide__section{
    position: relative;

    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    min-width: 100vw;
    min-height: 100vh;
    padding: 15px 30px;
}
.about-section__slide__section img{
    width: 100%;
    max-width: 500px;
    margin: 0 30px;
}
.about-section__slide__section aside{
    max-width: 320px;
    margin: 0 30px;
}
.about-section__slide__section aside h1{
    font-size: 2.2em;
    color: #4D3D87;
}
.about-section__slide__section aside p{
    text-align: justify;
}
.about-section__slide__section aside span{
    color: #4D3D87;
    font-weight: 500;
}

/*RESPOSIVINESS*/
@media screen and (max-width: 1169px) {
    .hero-section{
        padding: 75px 30px;
    }

    .hero-section > aside{
        width: calc(100% - 500px);
        min-width: 260px;
    }

    .hero-section__title{
        text-align: center;
        margin-bottom: 40px;
    }
    
    .hero-section__cabutton{
        width: 100%;
        padding: 10px 0;
        margin: 0 auto;
    }
    .hero-section h1,
    .hero-section p{
        width: 100%;
        max-width: none;
    }

    .hero-section__hero-picture{
        right: 0px;
        max-width: 515px;
        transform: translateX(0);
    }
}

@media screen and (max-width: 1159px) {
    .about-section__slide__section{
        flex-direction: column;
    }
    .about-section__slide__section img{
        margin: 0px;
        margin-bottom: 60px;
    }
    .about-section__slide__section aside{
        margin: 0px;
    }
}

@media screen and (max-width: 819px) {
    .hero-section{
        overflow: visible;
        padding-bottom: 0px;
    }
    .hero-section > aside{
        margin: auto;
    }
    .hero-section__hero-picture{
        position: relative;
        display: block;
        margin: auto;
        
        width: 100%;
        max-width: 100%;
    }
}

