@import url('https://fonts.googleapis.com/css2?family=Caprasimo&family=Poppins:wght@300;400;700&display=swap');

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    user-select: none;
}

body{
    position: relative;

    width: 100vw;
    height: 100vh;
    overflow-x: hidden;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: flex-start;

    width: 100vw;
    height: 80px;
    padding: 20px 50px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.082);
    
    font-family: 'Caprasimo';
}
header a{
    transition: .25s;
    color: black;
    text-decoration: none;
}
header a:hover{
    transition: .25s;
    transform: scale(110%, 110%);
}
.header__side-bar-button{
    transition: .5s;
    position: absolute;
    left: -30%;
    top: 18px;

    width: 40px;
    height: 40px;
}
.header__side-bar-button:hover{
    cursor: pointer;
}
.header__side-bar-button .line{
    position: absolute;
    transform: translateY(-50%);
    top: 30%;

    width: 40px;
    height: 3px;
    margin: 8px 0;
    border-radius: 10px;
    background-color: black;
}
.header__side-bar-button .l1{
    top: 0%;
}
.header__side-bar-button .l3{
    top: 60%;
}

/*sidebar*/
.sidebar{
    position: absolute;
    right: -300px;

    height: 100vh;
    width: 300px;
    font-family: 'Poppins', sans-serif;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.096);
    background-color: white;

    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.sidebar__buttons{
    width: 90%;
    padding: 20px;
    margin-top: 80px;
    border-top: 1px solid black;
}
.buttons{
    transition: .25s;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    width: 100%;
    padding: 10px;
    margin: 20px 0;
    border: 0;
    outline: none;
    color: white;
    background-color: #000000;
}
.buttons:hover{
    transition: .25s;
    cursor: pointer;
    transform: scale(105%, 105%);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.397);
}
.buttons:active{
    transform: scale(100%, 100%);
    box-shadow: none;
    color: rgba(255, 255, 255, 0.521);
}
.buttons ion-icon{
    width: 30px;
    height: 30px;
    margin-right: 10px;
}
.buttons h1{
    font-size: 1em;
}

/*containers*/
.container{
    width: 100vw;
}
.landing-page-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-self: flex-start;

    padding: 10px;

    font-family: 'Caprasimo', sans-serif;
}
.landing-page-container img{
    transition: .5s;
    width: 29.3vw;
    margin: 0 100px;
}
.landing-page-container__welcome-text{
    width: 320px;
    margin: 0 100px;
}
.landing-page-container__welcome-text h1{
    padding: 0px 10px;
    font-size: 3em;
}
.landing-page-container__welcome-text p{
    padding: 0px 10px;
    color: #96976A;
}

@media screen and (max-width: 1050px){
    .landing-page-container{
        flex-direction: column;
        align-items: center;
    }
}
@media screen and (max-width: 500px){
    .landing-page-container img{
        transition: .5s;
        width: 70vw;
    }
}