.SearchBarContainer{
    transition: all 1s;
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);

    display: flex;
    align-items: center;
    justify-content: center;

    gap: 10px;
    z-index: 9;
    padding: 10px;
    color: white;
    overflow-x: hidden;
    border-radius: 25px;
    background-color: rgb(30, 30, 30);
}
.SearchBarContainer:hover,
.SearchBarContainer:focus-within{
    background-color: rgb(35, 35, 35);
}
.SearchBarContainer:focus-within,
.SearchBarContainer.onSearch{
    top: 30px;
}
.SearchBarContainer:hover ::placeholder,
.SearchBarContainer:focus-within ::placeholder{
    text-shadow: 0px 0px 1px rgba(255, 255, 255, 0.25);
}
.SearchBarContainer label {
    display: flex;
    align-items: center;
    justify-content: center;
}

.SearchBarContainer ion-icon{
    width: 25px;
    height: 25px;
}
.SearchBarContainer > input{
    border: 0;
    outline: none;
    color: white;
    background-color: transparent;
}

@media screen and (max-width: 399px){
    .SearchBarContainer:focus-within,
    .SearchBarContainer.onSearch{
        right: 100%;
        transform: translate(100%, -50%);
    }
}