main {
    margin: auto;
    max-width: 1366px;
    min-height: fit-content;
}

main section{
    border-bottom: 1px solid transparent;
    background: linear-gradient(black, black) padding-box,
    linear-gradient(to right,
    rgb(255, 176, 0),
    rgb(230, 40, 113),
    rgb(157, 40, 136)) border-box;
}

.container{
    margin: auto;
    width: fit-content;
}

.goTopButton {
    transition: all .25s;
    position: fixed;
    top: -100px;
    right: 35px;
    transform: translateX(50%);

    width: 65px;
    z-index: 11;
}
.goTopButton.active{
    top: 30px;
}
.goTopButton::after{
    position: absolute;
    left: calc(50% - 1px);
    top: -41px;

    content: " ";
    width: 3px;
    height: 50px;
    background: linear-gradient(to top,
    rgb(255, 176, 0),
    rgb(230, 40, 113),
    rgb(157, 40, 136));
}
.goTopButton > img {
    width: 100%;
}