*{
    scroll-behavior: smooth;
}
.go-top-button{
    transition: all .3s;
    left: 30px;
    bottom: 30px;
    position: fixed;

    display: none;
    align-items: center;
    justify-content: center;

    color: white;
    padding: 10px;
    border-radius: 100%;
    background-color: #85b745;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}
.go-top-button.active{
    display: flex;
}
.go-top-button > ion-icon{
    width: 30px;
    height: 30px;
}
body > h1{
    padding: 10px 5px;
    color: #85b745;
    text-align: center;
    font-family: 'Noto Serif';
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.05);
}
body > h1 span{
    color: black;
    font-family: 'Poppins';
}
.sections{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;

    width: 100%;
    padding: 50px 20px;
}
.sections > img{
    width: 50vw;
    height: 50vw;
    max-width: 350px;
    max-height: 350px;
    padding: 20px;
}
.sections > aside{
    margin: 20px;
    max-width: 320px;
    font-family: 'Poppins', sans-serif;
}

.sections > aside h1{
    color: #85b745;
    font-size: 3em;
    font-weight: 400;
}
.sections > aside p{
    text-align: justify;
    font-size: 1.3em;
}

.what-do-we-offer-section{
    box-shadow:inset 0px 0px 20px rgba(0, 0, 0, 0.055);
}

footer{
    margin-top: 20px;
}

@media screen and (max-width: 749px){
    .sections > aside{
        order: 1;
    }
    .go-top-button{
        left: 50%;
        transform: translateX(-50%);
    }
}