main{
    display: flex;
    align-items: center;
    justify-content: space-around;

    height: 85dvh;
}
.main__landing-picture{
    width: 400px;
    height: 400px;
}
main > aside{
    font-family: 'Noto Serif', sans-serif;
} 
main > aside h1{
    color: #85B745;
    font-size: 5rem;
    font-weight: 400;
}
main > aside p{
    margin-bottom: 50px;
}
main > aside a{
    transition: all .3s;
    text-decoration: none;
    text-transform: uppercase;

    padding: 20px;
    font-weight: 700;
    font-family: 'Poppins';
    background-color: #85B745;
    box-shadow: 10px 10px 0px #23674C;
    color: white;
}
main > aside a:hover{
    background-color: #23674C;
    box-shadow: -10px -10px 0px #85B745
}
main > aside a:active{
    color: rgba(255, 255, 255, 0.644);
    background-color: #85B745;
    box-shadow: -10px -10px 0px #23674C;
}