body{
    background-color: #F5F5F5;
    overflow-x: hidden;
}
.store-navbar{
    position: relative;

    padding: 10px 5px;
    background-color: white;
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.05);
}
.store-navbar > h1{
    color: #85B745;
    font-family: 'Noto Serif';
    text-align: center;
    font-size: 2em;
}
.store-navbar > h1 span{
    color: black;
    font-family: 'Poppins';
}
.store-navbar__buttons{
    transition: all .3s;
    position: absolute;
    transform: translateY(-50%);
    right: 45px;
    top: 50%;

    display: none;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}
.store-navbar__buttons > h2{
    font-family: 'Poppins';
    text-transform: uppercase;
    font-size: 1em;
    font-weight: 600;
}
.store-navbar__buttons ion-icon{
    width: 20px;
    height: 20px;
    padding: 5px;
    border-radius: 100%;
}
.store-navbar__buttons:hover{
    cursor: pointer;
    color: #85B745;
}

.alt-store-navbar{
    display: none;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

    max-width: 100%;
    padding: 10px;
    font-family: 'Poppins';
}
.alt-store-navbar__path-index{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.alt-store-navbar h1{
    transition: all .1s;
    font-size: 1em;
}
.alt-store-navbar__path-index:hover h1{
    cursor: pointer;
    color: #85B745;
}
.alt-store-navbar__path-index:active h1{
    text-decoration: underline;
}
.alt-store-navbar h2{
    color: #85B745;
}
.path-index-selected h1{
    color: #85B745;
}

.doubt-section{
    background-color: white;
    padding: 5px;
}
.doubt-section > h2,
.doubt-section > p{
    padding: 10px 5px;
    text-align: center;
    font-family: 'Poppins';
}

.shopping-container{
    position: relative;
    overflow-x: hidden;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    width: 100%;
    padding: 10px;
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.05);
}
.shopping-container__shopping-tabs{
    width: 100vw;
    height: 80vh;
    min-height: calc(80/100 * 780px);
    margin: 10px;
    padding: 20px;
    max-width: 320px;
    background-color: white;
}
.products-shopping-tab > .search-bar-container{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 40px;
    padding: 0 10px;
    background-color: #F5F5F5;
}
.products-shopping-tab > .search-bar-container > #search-bar{
    width: 100%;
    height: 100%;
    padding: 5px;
    outline: none;
    border: 0;
    font-weight: 700;
    background-color: transparent;
}
.products-shopping-tab > .search-bar-container > #search-bar::placeholder{
    color: black;
    font-weight: 700;
    font-family: 'Poppins';
}
.products-shopping-tab > .search-bar-container .clean-button{
    transition: all .25s;
    display: none;
}
.products-shopping-tab > .search-bar-container .clean-button:hover{
    cursor: pointer;
    transform: scale(115%, 115%);
}

.products-shopping-tab > .categories-bar{
    display: flex;
    justify-content: space-between;
    overflow-x: scroll;

    margin: 20px 0;
}
.products-shopping-tab > .categories-bar div{
    transition: all .25s;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: nowrap;

    padding: 5px 10px;
    margin-right: 10px;
    background-color: #F5F5F5;

    font-size: .7em;
    font-family: 'Poppins';
    text-transform: uppercase;
}
.products-shopping-tab > .categories-bar div:hover{
    cursor: pointer;
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.2);
}
.products-shopping-tab > .categories-bar div.categorie-selected{
    color: white;
    background-color: #85B745;
}
.products-shopping-tab > .categories-bar div ion-icon{
    width: 20px;
    height: 20px;
}
.products-shopping-tab > h1{
    font-family: 'Poppins';
}
.products-list{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    overflow-y: scroll;

    width: 100%;
    height: calc(80vh - 190px);
    min-height: calc(80/100 * 780px - 190px);
    padding: 10px 0;
}
.product{
    transition: all .3s;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 120px;
    margin: 10px;
    padding: 10px;
    border-radius: 60px 60px 20px 20px;
}
.product:hover{
    cursor: pointer;
    border-radius: 0px 0px 0px 0px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.089);
}
.product:active{
    box-shadow: inset 5px 5px 10px rgba(0, 0, 0, 0);
}
.product:hover > picture{
    background-color: #e7e7e7;
    border-radius: 0px 0px 0px 0px;
}
.product > picture{
    transition: all .3s;
    position: relative;

    width: 100px;
    height: 100px;
    padding: 10px;
    border-radius: 50px 50px 20px 20px;
    background-color: #F5F5F5;
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.02);
}
.product__picture{
    position: absolute;
    top: -20%;
    right: 5%;

    width: 80px;
}
.product-info{
    font-family: 'Poppins';
}
.product__name,  .product__price{
    font-size: 1em;
    text-align: center;
    font-weight: 700;
}
.product__name{
    color: #85B745;
}
.product__price{
    color: black;
}
.product__description{
    display: none;
    visibility: hidden;
}

.info-shopping-tab{
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;

    padding-top: 40px;
    padding-bottom: 0px;
    font-family: 'Poppins';
}
.clear-product-info-button{
    transition: all .1s;
    position: absolute;
    top: 7.5px;
    right: 7.5px;

    width: 25px;
    height: 25px;
    padding: 5px;
    border-radius: 100%;
    background-color: white;
}
.clear-product-info-button:hover{
    cursor: pointer;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
}
.clear-product-info-button:active{
    box-shadow: none;
}
.selected-product-picture{
    position: relative;

    width: 200px;
    height: 200px;
    padding: 10px;
    border-radius: 100px 100px 20px 20px;
    background-color: #F5F5F5;
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.02);
}
.selected-product-picture > img{
    width: 70%;
    position: absolute;
    top: -10%;
    right: 10%;
}
.selected-product-info{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    width: 100%;
    padding: 10px 0;
    border-bottom: 1px solid black;
}
.selected-product-name{
    color: #85B745;
    width: 150px;
}
.info-shopping-tab > h2{
    font-size: 1em;
    margin: 10px 0;
    align-self: start;
}
.selected-product-description{
    position: relative;
    max-height: 150px;
    overflow-y: scroll;
    text-align: justify;
    margin-bottom: 30px;
}
.selected-product-price-quantity{
    position: absolute;
    bottom: 10%;
    left: 0%;

    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;

    width: 100%;
    margin: 10px 0;
}
.selected-product-price-quantity ion-icon{
    transition: all .25s;
    width: 25px;
    height: 25px;
    padding: 5px;
    border-radius: 100%;
    background-color: #85B745;
    color: white;
}
.selected-product-price-quantity ion-icon:hover{
    cursor: pointer;
    box-shadow: 2.5px 2.5px 5px rgba(0, 0, 0, 0.5);
}
.selected-product-price-quantity ion-icon:active{
    box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.5);
}
.selected-product-price-quantity__quantity{
    display: flex;
    align-items: center;
    justify-content: center;
}
.selected-product-price-quantity__quantity > h1{
    margin: 0 20px;
}
.selected-product__add-to-cart-button{
    transition: all .1s;
    position: absolute;
    bottom: 0%;
    left: 0%;
    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 1em;
    width: 100%;
    color: white;
    text-transform: uppercase;
    background-color: #85B745;
    box-shadow: 0px 0px 0px #23674C;
    align-self: center;
}
.selected-product__add-to-cart-button:hover{
    cursor: pointer;
    bottom: 10px;
    box-shadow: 0px 10px 0px #23674C;
}
.selected-product__add-to-cart-button:active{
    cursor: pointer;
    bottom: 0px;
    background-color: #23674C;
    box-shadow: 0px 0px 0px #23674C;
}
.selected-product__add-to-cart-button > h1{
    margin-right: 10px;
}

.cart-shopping-tab{
    position: relative;

    display: flex;
    align-items: center;
    flex-direction: column;

    font-family: 'Poppins';
    padding-top: 50px;
}
.cart-shopping-tab > ion-icon{
    transition: all .1s;
    position: absolute;
    right: 7.5px;
    top: 7.5px;
    
    display: none;

    width: 25px;
    height: 25px;
    padding: 5px;
    border-radius: 100%;
    background-color: white;
}
.cart-shopping-tab > ion-icon:hover{
    cursor: pointer;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
}
.cart-shopping-tab > ion-icon:active{
    cursor: pointer;
    box-shadow: none;
}
.cart-shopping-tab > .tab-title{
    position: absolute;
    transform: translateX(-50%);
    top: 7.5px;
    left: 50%;

    display: flex;
    justify-content: center;
    align-items: center;
}
.cart-shopping-tab > .clear-cart-button{
    position: absolute;
    top: 17.5px;
    left: 17.5px;

    font-size: .8em;
}
.cart-shopping-tab > .clear-cart-button:hover{
    cursor: pointer;
    color: #ff0050;
    text-decoration: underline;
}
.cart-shopping-tab > .clear-cart-button:active{
    color: #e00148;
}
.cart-empty-sign{
    color: rgba(0, 0, 0, 0.5);
    font-size: 1em
}
.cart-shopping-tab .cart-products{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    margin: 10px 0;
    height: calc(80/100 * 780px - 400px);

    overflow-y: scroll;
}
.cart-shopping-tab .cart-added-product-container{
    position: relative;

    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    border-radius: 0px 10px 0px 0px;
    background-image: linear-gradient(45deg, transparent 80%, #F5F5F5);
}
.cart-shopping-tab .default-cart-added-product-container{
    display: none;
}
.cart-shopping-tab .cart-added-product-container__product{
    display: flex;
    align-items: center;
    justify-content: space-around;

    width: 100%;
    height: 130px;
    padding: 10px;
}
.cart-shopping-tab .cart-added-product-container__product > picture{
    position: relative;

    width: 110px;
    height: 110px;
    background-color: #F5F5F5;
    border-radius: 60px 60px 20px 20px;
}
.cart-shopping-tab .cart-added-product-container__product > picture > img{
    position: absolute;
    top: -7.5%;
    left: 17.5%;
    width: 70%;
}
.cart-shopping-tab .cart-added-product-container__product > aside{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;

    margin-left: 10px;
}
.cart-added-product-container__product-name{
    color: #85B745;
}
.cart-shopping-tab .cart-added-product-container__product > aside .cart-added-product-container__product-price-quantity{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.cart-shopping-tab .cart-added-product-container__product > aside .cart-added-product-container__product-price-quantity h1{
    margin-right: 14px;
}
.cart-shopping-tab .cart-added-product-container__product > aside .cart-added-product-container__product-price-quantity__quantity{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.cart-added-product-container__delete-button{
    transition: all .1s;
    position: absolute;
    top: 5px;
    right: 5px;

    background-color: white;
    border-radius: 100%;
    width: 20px;
    height: 20px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.103);

}
.cart-added-product-container__delete-button:hover{
    cursor: pointer;
    color: #e00148;
}

.cart-shopping-tab .cart-added-product-container__product > aside .cart-added-product-container__product-price-quantity__quantity h1{
    margin: 0 5px;
}
.cart-shopping-tab .cart-added-product-container__product > aside .cart-added-product-container__product-price-quantity__quantity ion-icon{
    transition: all .1s;
    width: 25px;
    height: 25px;
    border-radius: 100%;
    background-color: #85B745;
    color: white;
}
.cart-shopping-tab .cart-added-product-container__product > aside .cart-added-product-container__product-price-quantity__quantity ion-icon:hover{
    cursor: pointer;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
}
.cart-shopping-tab .cart-added-product-container__product > aside .cart-added-product-container__product-price-quantity__quantity ion-icon:active{
    box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.25);
}
.cart-shopping-tab__promo-code-container{
    display: flex;
    align-items: center;
    justify-content: space-around;

    width: calc(100% + 40px);
    height: 50px;
    padding: 5px;
    margin-bottom: 20px;
    background-color: #85B745;
}
.cart-shopping-tab__promo-code-container > #promo-code-text{
    border: 0;
    outline: none;
    color: white;
    font-weight: 700;
    border-bottom: 2px solid white;
    background-color: transparent;
}
.cart-shopping-tab__promo-code-container > #promo-code-text::placeholder{
    color: rgba(255, 255, 255, 0.685);
}
.cart-shopping-tab__promo-code-container > #promo-code-button{
    transition: all .1s;
    padding: 5px 10px;

    border: 0;
    color: black;
    outline: none;
    font-weight: 700;
    background-color: white;
}
.cart-shopping-tab__promo-code-container > #promo-code-button:hover{
    cursor: pointer;
    color: white;
    background-color: #85B745;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}
.cart-shopping-tab__promo-code-container > #promo-code-button:active{
    box-shadow: inset 0px 0px 5px black;
}
.cart-shopping-tab__total-price-container{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    width: 100%;
    padding-bottom: 10px;
    color: rgba(0, 0, 0, 0.5);
    border-bottom: 1px solid black;
}
.cart-shopping-tab__total-price-container__products-price,
.cart-shopping-tab__total-price-container__shipping-price{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    width: 100%;
    font-size: .8em;
}
.cart-shopping-tab__total-price-container__products-price h1,
.cart-shopping-tab__total-price-container__shipping-price h1{
    font-weight: 600;
}
.cart-end-price{
    color: #85B745;
}

.cart-shopping-tab__checkout-cutton{
    transition: .1s;
    position: absolute;
    bottom: 0px;
    left: 0%;

    display: flex;
    align-items: center;
    justify-content: center;
    
    width: 100%;
    color: white;
    text-align: center;
    text-transform: uppercase;
    background-color: #85B745;
    box-shadow: 0px 0px 0px #23674C;
}
.cart-end-values{
    position: absolute;
    bottom: 60px;


    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.cart-shopping-tab__checkout-cutton:hover{
    cursor: pointer;
    bottom: 10px;
    box-shadow: 0px 10px 0px #23674C;
}
.cart-shopping-tab__checkout-cutton:active{
    bottom: 0px;
    background-color: #23674C;
    box-shadow: 0px 0px 0px #23674C;
}
.cart-shopping-tab__checkout-cutton ion-icon{
    width: 20px;
    height: 20px;
    margin-left: 10px;
}

@media screen and (max-width: 1039px){
    .store-navbar__buttons{
        display: flex;
    }

    .cart-shopping-tab{
        transition: all .3s;

        position: absolute;
        transform: translate(-50%, -50%);
        right: -500px;
        top: calc(50% - 10px);
    }

    .cart-shopping-tab .close-cart-shopping-tab{
        display: block;
    }

    .cart-shopping-tab.cart-opened{
        right: calc(50% - 500px);
    }
}
@media screen and (max-width: 699px){
    .store-navbar__buttons{
        display: none;
    }
    .alt-store-navbar{
        display: flex;
    }

    .info-shopping-tab{
        transition: all .3s;

        position: absolute;
        transform: translate(-50%, -50%);
        left: -500px;
        top: calc(50% - 10px);
    }

    .info-shopping-tab.info-opened{
        left: calc(50% - 10px);
    }

    .cart-shopping-tab.cart-opened{
        right: calc(50% - 330px);
    }
}
