.dashBoard {
    position: relative;

    width: 500px;
    height: 350px;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
}

.dashView {
    position: absolute;
    top: -30px;
    left: 50%;
    transform: translate(-50%, -50%);

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    overflow: hidden;
    border-radius: 5px;
    background-color: white;
    box-shadow: inset 0px 0px 2.5px rgba(0, 0, 0, 0.267);
}

.dashView > button {
    transition: all .25s;

    border: 0;
    width: 80px;
    outline: none;
    padding: 10px 0;
    font-size: .5em;
    text-transform: uppercase;
    background-color: transparent;
}
.dashView > button:not(.active):hover {
    cursor: pointer;
    color: #1872ff;
}

.monthButton.active,
.yearButton.active {
    color: white;
    background-color: #1872ff;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.233);
}

.dashMark {
    position: absolute;
    bottom: 0;
    transform: translate(-50%, calc(50% + 7px));

    font-weight: 600;
    font-size: .75em;
    text-align: center;
    text-transform: uppercase;
}
.dashMarksY, .zero{
    position: absolute;
    left: 0px;
    transform: translate(calc(-100% + 2.5px), -50%);

    font-size: 1em;
    font-weight: 600;
}
.emptyY {
    position: absolute;
    left: 0px;
    top: 5%;
    transform: translate(calc(-100% + 2.5px), -50%);

    font-size: 1em;
    font-weight: 600;
}
.zero {
    bottom: -19.5px;
}
.xLines {
    transition: all .25s;
    position: absolute;
    left: 0;
    transform: translateY(200%);

    width: 100%;
    border-top: 1px solid hsla(214, 89%, 52%, 0);
}
.xLines.enabled {
    border-top: 1px solid hsla(0, 0%, 0%, 0.25);
}

.dashboardPointModel {
    transition: all .25s;
    position: absolute;
    transform: translate(-50%, 75%);

    width: 10px;
    height: 10px;
    border-radius: 100%;
}
.dashboardPointModel:hover {
    width: 12.5px;
    height: 12.5px;
    transform: translate(-50%, calc(75% - 2.5px));
}

.dashboardPointDataContainer {
    transition: all .25s;
    position: absolute;
    left: 50%;
    top: 0px;
    pointer-events: none;
    transform: translate(-50%, -50%);

    display: flex;
    flex-direction: row;

    opacity: 0;
    max-width: 250px;
    min-width: 100px;
    padding: 5px;
    border-radius: 5px;
    width: fit-content;
    text-align: center;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}
.dashboardPointModel:hover > div {
    top: calc(-300% - 10px);
    opacity: 1;
}
.dashboardPointDataContainer div {
    display: flex;
    padding: 5px 10px;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
}
.dashboardPointDataContainer div:not(:last-of-type):not(:first-of-type) {
    border-left: 1px solid rgba(0, 0, 0, 0.25);
    border-right: 1px solid rgba(0, 0, 0, 0.25);
}
.dashboardPointDataContainer h1{
    width: 100%;
    font-size: 1em;
    color: #1872ff;
}
.dashboardPointDataContainer p {
    font-size: 1em;
}
.dashboardPointDataContainer p:not(:last-of-type) {
    margin-bottom: 5px;
}

.dashboardLineModel {
    position: absolute;
    transform-origin: bottom left;

    width: 100px;
    height: 100px;
}
.dashboardLineModel.deactivated {
    display: none;
}