.dashBoard {
    transition: all .25s;
    position: relative;

    width: 500px;
    height: 350px;
    margin-top: 80px; 
    margin-bottom: 30px;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
}
.dashBoard.dark {
    color: white;
    border-left: 1px solid white;
    border-bottom: 1px solid white;
}

.dashboardContainer {
    position: relative;
    overflow-x: scroll;
    padding-left: 30px;
}
.dashboardContainer::-webkit-scrollbar {
    display: none;
}

.dashView {
    transition: all .25s;
    position: absolute;
    top: -30px;
    left: 50%;
    transform: translate(-50%, -50%);

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    overflow: hidden;
    border-radius: 5px;
    background-color: white;
    box-shadow: inset 0px 0px 2.5px rgba(0, 0, 0, 0.267);
}
.dashView.dark {
    background-color: #252525;
}

.dashView > button {
    transition: all .25s;

    border: 0;
    width: 80px;
    outline: none;
    padding: 10px 0;
    font-size: .5em;
    text-transform: uppercase;
    background-color: transparent;
}
.dashView.dark > button {
    color: white;
    background-color: #252525;
}
.dashView > button:not(.active):hover {
    cursor: pointer;
    color: #1872ff;
}

.dashView > button.active {
    color: white;
    background-color: #1872ff;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.233);
}

.yearsView {
    position: absolute;
    top: -30px;
    left: calc(50% - 175px);
    transform: translate(-50%, -50%);
    
    display: flex;
    flex-direction: column;

    z-index: 20;
    width: 80px;
    border-radius: 5px;
}
.yearsView h1 {
    position: absolute;
    top: -25px;

    width: 100%;
    font-size: .9em;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
}
.yearsView button {
    transition: all .175s;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    border: 0;
    width: 100%;
    outline: none;
    padding: 10px;
    background-color: white;
}
.yearsView > button {
    justify-content: space-between;

    color: white;
    font-weight: 600;
    border-radius: 5px;
    background-color: #1872ff;
}
.yearsView > button:hover {
    cursor: pointer;
    background-color: #1667e9;
}
.yearsView > button:active {
    color: #1872ff;
}

.yearsContainer {
    position: absolute;
    top: 100%;

    width: 100%;
    height: 60px;
    overflow-y: scroll;
    border-bottom: 1px solid black;
}

.yearsContainer button:nth-of-type(odd) {
    background-color: #ececec;
}
.yearsContainer button:hover {
    cursor: pointer;
    background-color: rgb(226, 226, 226);
}
.yearsContainer::-webkit-scrollbar {
    display: none;
}

.dashMark {
    position: absolute;
    bottom: 0;
    transform: translate(-50%, calc(50% + 7px));

    font-weight: 600;
    font-size: .75em;
    text-align: center;
    text-transform: uppercase;
}
.dashMarksY, .zero{
    position: absolute;
    left: 0px;
    transform: translate(calc(-100% + 2.5px), -50%);

    font-size: 1em;
    font-weight: 600;
}
.emptyY {
    position: absolute;
    left: 0px;
    top: 5%;
    transform: translate(calc(-100% + 2.5px), -50%);

    font-size: 1em;
    font-weight: 600;
}
.zero {
    bottom: -19.5px;
}
.xLines {
    transition: all .25s;
    position: absolute;
    left: 0;
    transform: translateY(200%);

    width: 100%;
    border-top: 1px solid hsla(214, 89%, 52%, 0);
}
.xLines.enabled {
    border-top: 1px solid hsla(0, 0%, 0%, 0.25);
}
.xLines.dark.enabled {
    border-top: 1px solid hsla(0, 0%, 100%, 0.151);
}

.dashboardPointModel {
    transition: all .25s;
    position: absolute;
    transform: translate(-50%, 75%);

    z-index: 10;
    width: 10px;
    height: 10px;
    border-radius: 100%;
}
.dashboardPointModel:hover {
    width: 12.5px;
    height: 12.5px;
    z-index: 25;
    transform: translate(-50%, calc(75% - 2.5px));
}

.dashboardPointDataContainer {
    transition: all .25s;
    position: absolute;
    left: 50%;
    top: 0px;
    pointer-events: none;
    transform: translate(-50%, -50%);

    display: flex;
    flex-direction: row;

    opacity: 0;
    max-width: 250px;
    min-width: 100px;
    padding: 5px;
    border-radius: 5px;
    width: fit-content;
    text-align: center;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}
.dashBoard.dark .dashboardPointDataContainer {
    background-color: #252525;
}
.dashboardPointModel:hover > div {
    top: calc(-300% - 10px);
    opacity: 1;
}
.dashboardPointDataContainer div {
    display: flex;
    padding: 5px 10px;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
}
.dashboardPointDataContainer div:not(:last-of-type):not(:first-of-type) {
    border-left: 1px solid rgba(0, 0, 0, 0.25);
    border-right: 1px solid rgba(0, 0, 0, 0.25);
}
.dashBoard.dark .dashboardPointDataContainer div:not(:last-of-type):not(:first-of-type) {
    border-left: 1px solid rgba(255, 255, 255, 0.25);
    border-right: 1px solid rgba(255, 255, 255, 0.25);
}
.dashboardPointDataContainer h1{
    width: 100%;
    font-size: 1em;
    color: #1872ff;
}
.dashboardPointDataContainer p {
    font-size: 1em;
}
.dashboardPointDataContainer p:not(:last-of-type) {
    margin-bottom: 5px;
}

.dashboardLineModel {
    position: absolute;
    transform-origin: bottom left;

    width: 100px;
    height: 100px;
}
.dashboardLineModel.deactivated {
    display: none;
}

