.dataFormContainer {
    transition: all .5s;
    position: fixed;
    top: -400px;
    left: 50%;
    transform: translate(-50%, -50%);

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

    z-index: 100;
    width: 100%;
    padding: 20px;
    max-width: 300px;
    border-radius: 5px;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.205);
}
.dataFormContainer.active {
    top: 50%;
}
.dataFormContainer.dark {
    background-color: #252525;
}

.dataFormContainer > h1 {
    color: #1872ff;
    font-size: 1.5em;
    margin-bottom: 10px;
    text-transform: capitalize;
}

.dataFormContainer > label > h2 {
    font-weight: 500;
    font-size: 1.25em;
}
.dataFormContainer.dark > label > h2 {
    color: white;
}

.dataFormContainer > input:not(:last-of-type) {
    width: 100%;
    border: 0;
    padding: 5px;
    outline: none;
    margin-bottom: 20px;
    background-color: transparent;
    border-bottom: 1px solid black;
}
.dataFormContainer.dark > input:not(:last-of-type) {
    color: white;
    border-bottom: 1px solid white;
}

.dataFormContainer > input:not(:last-of-type).onErr {
    margin-bottom: 2.5px;
}

.inputErrTxt {
    display: none;

    width: 100%;
    font-size: .8em;
    font-weight: 500;
    margin-bottom: 10px;
}
.inputErrTxt.display {
    display: block;
    color: #ff0050;
}

.colorInput {
    width: 100%;
    border: none;
    margin-top: 5px;
    margin-bottom: 20px;
    background-color: transparent;
}
.colorInput::-webkit-color-swatch {
    transition: all .25s;
    border: none;
    border-radius: 5px;
}
.colorInput::-webkit-color-swatch:hover {
    cursor: pointer;
    transform: scale(102%, 102%);
}
.colorInput::-webkit-color-swatch:active {
    transform: scale(98%, 98%);
}

.dataFormContainer > button {
    transition: all .1s;

    border: 0;
    width: 100%;
    padding: 10px;
    outline: none;
    font-size: 8px;
    color: white;
    border-radius: 5px;
    background-color: #1872ff;
}

.dataFormContainer > button:hover {
    cursor: pointer;
    color: rgba(255, 255, 255, 0.555);
}
.dataFormContainer > button:active {
    color: #1872ff;
    background-color: white;
}
.dataFormContainer.dark > button:active {
    background-color: #353535;
}

.dataFormContainer > ion-icon{
    transition: all .1s;

    position: absolute;
    top: 5px;
    right: 5px;

    width: 25px;
    height: 25px;
    padding: 5px;
    border-radius: 100%;
    background-color: rgba(0, 0, 0, 0);
}
.dataFormContainer.dark > ion-icon {
    color: white;
}
.dataFormContainer > ion-icon:hover{
    cursor: pointer;
    color: #1877f2;
}
.dataFormContainer > ion-icon:active{
    background-color: rgba(0, 0, 0, .1);
}

.APButton {
    transition: all .15s;
    position: absolute;
    top: 30px;
    right: 30px;

    display: flex;
    align-items: center ;
    justify-content: center;

    border: 0;
    outline: none;
    padding: 5px;
    border-radius: 100%;
    background-color: #1872ff;
}
.APButton > ion-icon {
    transition: all .15s;
    width: 30px;
    height: 30px;
    color: white;
}
.APButton:hover {
    background-color: #1566e7;
}
.APButton:hover > ion-icon {
    cursor: pointer;
    transform: scale(115%, 115%);
}
.APButton:active {
    color: #1566e7;
    background-color: white;
}
.APButton:active > ion-icon {
    color: #1566e7;
    transform: scale(95%, 95%);
}

.safeLayer {
    position: fixed;
    top: 0;
    left: 0;

    display: none;

    z-index: 99;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.4);
}

.safeLayer.active {
    display: block;
}
