.editTabContainer {
    transition: all .5s;
    position: fixed;
    top: -400px;
    left: 50%;
    transform: translate(-50%, -50%);

    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

    z-index: 100;
    width: 100%;
    padding: 20px;
    max-width: 300px;
    border-radius: 5px;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}
.editTabContainer.dark {
    background-color: #252525;
}

.editTabContainer.active {
    top: 50%;
}

.editTabContainer > h1 {
    font-size: 1.5em;
    margin-bottom: 10px;
    color: #1877f2;
}

.editTabContainer > p {
    width: 100%;
    font-weight: 500;
    text-align: center;
    margin-bottom: 20px;
}
.editTabContainer.dark > p {
    color: white;
}

.editTabContainer > p > span {
    color: #1877f2;
    font-weight: 700;
    font-size: 1.25em;
    text-transform: capitalize;
}

.editTabContainer > label {
    font-weight: 500;
    font-size: 1.25em;
}
.editTabContainer.dark > label {
    color: white;
}

.editTabContainer > input {
    width: 100%;
    border: 0;
    padding: 5px;
    outline: none;
    margin-bottom: 20px;
    background-color: transparent;
    border-bottom: 1px solid black;
}
.editTabContainer.dark > input {
    color: white;
    border-bottom: 1px solid white;
}

.scButton, .delButton {
    transition: all .1s;

    border: 0;
    width: 100%;
    padding: 10px;
    outline: none;
    font-size: 1em;
    color: white;
    font-weight: 600;
    margin-top: 10px;
    border-radius: 5px;
    background-color: #cccccc;
}
.delButton {
    display: flex;
    align-items: center;
    justify-content: center;
}
.delButton > ion-icon {
    width: 20px;
    height: 20px;
}

.scButton.enabled, .delButton {
    background-color: #1872ff;
}

.scButton.enabled:hover, 
.delButton:hover {
    cursor: pointer;
    color: rgba(255, 255, 255, 0.555);
}
.scButton.enabled:active , 
.delButton:active{
    color: #1877f2;
    background-color: white;
}
.editTabContainer.dark .scButton.enabled:active , 
.editTabContainer.dark .delButton:active{
    background-color: #353535;
}

.editTabContainer > ion-icon{
    transition: all .1s;

    position: absolute;
    top: 5px;
    right: 5px;

    width: 25px;
    height: 25px;
    padding: 5px;
    border-radius: 100%;
    background-color: rgba(0, 0, 0, 0);
}
.editTabContainer.dark > ion-icon {
    color: white;
}
.editTabContainer > ion-icon:hover{
    cursor: pointer;
    color: #1877f2;
}
.editTabContainer > ion-icon:active{
    background-color: rgba(0, 0, 0, .1);
}

.safeLayer {
    position: fixed;
    top: 0;
    left: 0;

    display: none;

    z-index: 99;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.4);
}

.safeLayer.active {
    display: block;
}